{% extends 'base.html' %}

{% block titulo %}Ausencias{% endblock %}

{% block cabecera %}Elige un status{% endblock %}

{% block contenido %}
		{% if user.is_authenticated == False %}
			<section id="contenedor-ausencias">
				<form class="formulario" method="POST" >
					{% csrf_token %}
					{{form.as_p}}
					<input class="registrar" type="submit" value="Aceptar" role="button" onclick="return confirm('Esta seguro de guardar su status?')" />
				</form>
			</section>
			<a href="/listaNoti/" class='boton'>Regresar</a>
		{% endif %}
{% endblock %}