{% extends 'base.html' %}

{% block titulo %}Lista de Notificadores{% endblock %}

{% block cabecera %}Lista de Notificadores{% endblock %}

{% block contenido %}
	<script>setTimeout(function(){window.location.reload()},25000)</script>
	{% if user.is_authenticated == False %}	
		<div class = "datagrid">
		<table  border="1">
			<thead><tr><th>Id</th><th>Notificador</th><th>Status</th><th>Editar</th></tr></thead>
			<tfoot><tr><td colspan="4">
			</td></tr></tfoot>
			<tbody>
					{% for item in lista %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ item.nombre|capfirst }}</td>
								<td>{{ item.statusNotificador }}</td>
								<td><a class="boton-header" href="/listaNoti/ausencias/">Editar Status</a></td>
							</tr>
					{% endfor %}
			</tbody>
		</table>
	{% endif %}
		<div class = "datagrid">
		<table  border="1">
			<thead><tr><th>Id</th><th>Notificador</th><th>Motivo</th><th>Inicio</th><th>Finalizar</th></tr></thead>

			<tfoot><tr><td colspan="6">
			<div id="paging">
				<ul>
					{% if ausencias.has_previous %}
						<li><a href="?page={{ ausencias.previous_page_number }}"><span>Anterior</span></a></li>
					{% endif %}
					<li><span class="active">Página {{ ausencias.number }} de {{ ausencias.paginator.num_pages }}.</span></li>
					{% if ausencias.has_next %}
						<li><a href="?page={{ ausencias.next_page_number }}"><span>Siguiente</span></a></li>
					{% endif %}
				</ul>
			</div></td></tr></tfoot>
			<tbody>
				{% if ausencias %}
					{% for item2 in ausencias %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ item2.noti|capfirst }}</td>
								<td>{{ item2.motivo }}</td>
								<td>{{ item2.fechaInicio }}</td>
							{% if user.is_authenticated == False %}	
								{% if item2.fechaFin == Null %}
									<td><a href="/finalizarAusencia/{{item2.id}}">Finalizar</a></td></tr>
								{% else %}
									<td><p class="proceso">En proceso</p></td></tr>
								{% endif %}
	
							{% endif %}

					{% endfor %}
				{% else %}
						<td colspan="6"><span class="aviso">No hay ausencias en proceso</span></td>
				{% endif %}
			</tbody>
		</table>
		</div>
{% endblock %}